@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
   height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
   height: 8px !important;
   width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
   background-color: #ffffff3b;
}
